<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<title>Homepage</title>
<link rel="icon" href="favicon.png" type="image/png">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/linecons.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">

<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,700italic,400italic,300italic,300,100italic,100,900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dosis:400,500,700,800,600,300,200' rel='stylesheet' type='text/css'>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.isotope.js"></script>
<script type="text/javascript" src="js/classie.js"></script>
<script src="js/GET.js"></script>
<script src="js/POST.js"></script>

<script type="text/javascript">
	$(document).ready(function(e) {
        $('.res-nav_click').click(function(){
		$('ul.toggle').slideToggle(600)	
			});	
			
	$(document).ready(function() {
$(window).bind('scroll', function() {
         if ($(window).scrollTop() > 0) {
             $('#header_outer').addClass('fixed');
         }
         else {
             $('#header_outer').removeClass('fixed');
         }
    });
	
	  });
	  

		    });	
function resizeText() {
	var preferredWidth = 767;
	var displayWidth = window.innerWidth;
	var percentage = displayWidth / preferredWidth;
	var fontsizetitle = 25;
	var newFontSizeTitle = Math.floor(fontsizetitle * percentage);
	$(".divclass").css("font-size", newFontSizeTitle)
}
</script>
</head>
<body>

<!--Header_section-->
<header id="header_outer">
  <div class="container">
    <div class="header_section" style = "height:10px">
      
      <nav class="nav" id="nav" style = "height:10px">
        <ul class="">
          <li><a href="#top_content">Home</a></li>
          <li><a href="javascript:void(0);"
			NAME="Login Window"  title=" Sign In/Up"
			onClick=window.open("login.html","Ratting","width=550,height=650,0,status=0,scrollbars=1,resizable=0");>Login</a></li>
          <li><a href="#review">Review</a></li>
        </ul>
      </nav>
      
  </div>
</header>


<section class="top_cont_outer" id="review">
<div class="logo"><a href="javascript:void(0)"><img src="img/logo_book.png" alt=""></a></div></br>
  <div class="container">
  
    <section class="main-section contact" id="review">
	
      <div class="form">
	  
        <div ng-app ="myApp" >
		<div  style = "width:100%;"; color = #ccc ng-module="myApp" class = "cssAngularWorkspace.ng-scope.ng-binding" ng-controller = "MasterDetailCtrl">
			
			<select  ng-model="selectedCustomer" ng-change="loadOrders();" 		
			ng-options="category.categoryId as category.categoryId for category in listOfCustomers" style = "height:25px" >		
			</select>
			
			
			<select  ng-model="selectedGenre" ng-change="loadSubGenres();" 
			ng-options="order.genreId as order.genreId for order in listOfGenres" style=" height:25px;"  ></select>
			
			
			<select  ng-model="slectedSubGenre"  ng-change="updateSubGenres();"
			ng-options="order.genreId as order.genreId for order in listOfSubGenres" style=" height:25px;"   ></select>
			<br />
		</div>
		</br>
		<div ng-module="PostMyForm" class = "cssAngularWorkspace.ng-scope.ng-binding" >
			<form ng-submit="submit()"  ng-controller ="PostMyForm" >
			
			<div  style = "width:100%;">
			<input type="text" ng-model="form.p_name" name="form.p_name" placeholder='Product name'  style="width:25%;">
			<input type="text" ng-model="form.creator" name="form.creator" placeholder='By :'   style="width:25%;" ></br></br>
			<textarea style = "width:50%;" rows="10" cols="75" ng-model="form.review" name="form.review" placeholder='Put your review'> </textarea> 
			</br></br><div class="rating" >
				<input id="star5" ng-model="form.rate" name="star" type="radio" value="5" class="radio-btn hide" />
				<label for="star5">☆</label>
				<input id="star4" ng-model="form.rate" name="star" type="radio" value="4" class="radio-btn hide" />
				<label for="star4">☆</label>
				<input id="star3" ng-model="form.rate" name="star" type="radio" value="3" class="radio-btn hide" />
				<label for="star3">☆</label>
				<input id="star2" ng-model="form.rate" name="star" type="radio" value="2" class="radio-btn hide" />
				<label for="star2">☆</label>
				<input id="star1"  ng-model="form.rate" name="star" type="radio" value="1" class="radio-btn hide" />
				<label for="star1">☆</label>
				<div class="clear"></div>
				</div></br>
			</div>
			<!--
				<input type="text" ng-model="form.firstname" style="width:30%; height:25px " name="form.firstname" placeholder="Enter your Name" 
				class ="form-control input-text">
				<input type="text" style = "width:50%; height:25px"ng-model="form.emailaddress" name="form.emailaddress" placeholder='Mail@mail.com' 
				class ="form-control input-text"> 
			-->			
				<input type="submit" class="btn input-btn" id="submit" value="Submit" onclick="this.form.reset();" />
			</form>
			<span style="color:Red;">{{errorMessage_POST}}</span>
		</div>
        </div>
      </div>
    </section>
  </div>
</section>

<script type="text/javascript">
    $(document).ready(function(e) {
        $('#header_outer').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script> 

  <script type="text/javascript">
	$(window).load(function(){
		
		$('a').bind('click',function(event){
			var $anchor = $(this);
			
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 91
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
			event.preventDefault();
		});
	})
</script> 

<script type="text/javascript">

   
  jQuery(document).ready(function($){     
// Portfolio Isotope
	var container = $('#portfolio-wrap');	
	

	container.isotope({
		animationEngine : 'best-available',
	  	animationOptions: {
	     	duration: 200,
	     	queue: false
	   	},
		layoutMode: 'fitRows'
	});	

	$('#filters a').click(function(){
		$('#filters a').removeClass('active');
		$(this).addClass('active');
		var selector = $(this).attr('data-filter');
	  	container.isotope({ filter: selector });
        setProjects();		
	  	return false;
	});
		
		
		function splitColumns() { 
			var winWidth = $(window).width(), 
				columnNumb = 1;
			
			
			if (winWidth > 1024) {
				columnNumb = 4;
			} else if (winWidth > 900) {
				columnNumb = 2;
			} else if (winWidth > 479) {
				columnNumb = 2;
			} else if (winWidth < 479) {
				columnNumb = 1;
			}
			
			return columnNumb;
		}		
		
		function setColumns() { 
			var winWidth = $(window).width(), 
				columnNumb = splitColumns(), 
				postWidth = Math.floor(winWidth / columnNumb);
			
			container.find('.portfolio-item').each(function () { 
				$(this).css( { 
					width : postWidth + 'px' 
				});
			});
		}		
		
		function setProjects() { 
			setColumns();
			container.isotope('reLayout');
		}		
		
		container.imagesLoaded(function () { 
			setColumns();
		});
		
	
		$(window).bind('resize', function () { 
			setProjects();			
		});

});
$( window ).load(function() {
	jQuery('#all').click();
	return false;
});
</script>


</body>
</html>